.scroll::-webkit-scrollbar {
    height: 3px
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #252422;
}

.scroll::-webkit-scrollbar-track {
    background-color: #bdbdbd;
}